/**
    Custom CSS for the De Anne Dubin website

    Author: Aaron Snowberger
    Author URI: http://aaronsnowberger.com
**/

.red { color: red; }
.group { clear: both; }
.visible { visibility: visible; }
.hidden { visibility: hidden; }

#training p { margin-bottom: 0; }
#training h5:not(:first-child), #training img { margin-top: 1em; }

.span_link {
    padding: 0!important;
    color: orange;
}

#fsGalNextImg {
/*    left: 410px;*/
    overflow: visible;
}
@media (max-width: 48em) {
    #fsGalNextImg {
/*        left: 310px;*/
    }
}
.fsGalNextTxt {
    position: absolute;
    left: -30px;
    font-size: 1.35em;
    font-weight: bold;
    top: 0;
    background: rgba(0,0,0,0.75);
    height: 20px;
    width: 20px;
    padding: 10px 0 10px 10px;
}

/* Category name animation */
#options li a .catName:before{
    content: attr(data-title);
    bottom: 26px;
    position:absolute;
    padding: 5px 0px 3px 7px;
    text-indent:-6px;


    zoom: 1; /* gives the object layout */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity : 0.7;

    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}


@media (max-width: 480px) {
    ul ul,
    ul ul ul {
        margin-left: 1.5em;
    }
    .fs_caption .medium_image {
        width: 150px!important;
        height: auto!important;
    }
    .fs_caption h3 {
        font-size: 22px;
    }
    .fs_caption h5 {
        font-size: 16px;
    }
}

.extra_padding {
    box-sizing: border-box;
    padding: 0 1em;
}
@media (min-width: 48em) {
    .extra_padding {
        padding: 0;
    }
}

/* Move gallery (homepage) captions closer to the bottom */
.caption_style1,
.caption_style2 {
    bottom: 50px;
    left: 0;
}
@media (max-width: 480px) {
    .caption_style1,
    .caption_style2 {
        width: 300px;
        bottom: 0px;
    }
}
@media (min-width: 48em) {
    .caption_style1,
    .caption_style2 {
        bottom: 100px;
    }
}

/* Remove Next/Prev buttons from gallery (homepage) */
.fsGalPreviousImg,
.fsGalNextImg {
    display: none!important;
}

/* 
    Responsive Tables 
    @link ref: http://codepen.io/pixelchar/pen/rfuqK
*/
.table-container {
    margin: 5% 3%;
}
@media (min-width: 48em) {
    .table-container {
        margin: 2%;
    }
}
@media (min-width: 75em) {
    margin: 2em auto;
    max-width: 75em;
}

.responsive-table {
    width: 90%;
/*    margin-bottom: 1.5em;*/
    margin: 1.5em 1.5em 3em!important;
}
@media (min-width: 48em) {
    .responsive-table {
        border: 2px solid rgba(255,255,255,0.3);
    }
}

.responsive-table thead {
    /* Accessibly hide <thead> on narrow viewports */
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* Unhide <thead> on wide viewports */
@media (min-width: 48em) {
    .responsive-table thead {
        position: relative;
        clip: auto;
        height: auto;
        width: auto;
        overflow: auto;
    }
}

.responsive-table th {
    background-color: rgba(255,255,255,0.3);
    font-weight: normal;
    text-align: center;
    color: white;
}
.responsive-table th::first-of-type {
    text-align: left;
}
@media (min-width: 48em) {
    .responsive-table th {
        border-left: 1px solid rgba(255,255,255,0.1);
    }
    .responsive-table th:first-of-type {
        border: none;
    }
}

/* Set these items to display: block for narrow viewports */
.responsive-table tbody,
.responsive-table tr,
.responsive-table th,
.responsive-table td {
    display: block;
    padding: 0;
/*    text-align: left;*/
    white-space: normal;
}
/* Undo display: block */
@media (min-width: 48em) {
    .responsive-table tr {
        display: table-row;
    }
}
.responsive-table td {
    padding: 0.25em 1.5em 0.25em 5em!important; 
    border: 1px solid rgba(255,255,255,0.1)!important;
}

.responsive-table th,
.responsive-table td {
    padding: 0.5em;
    vertical-align: middle;
}
@media (min-width: 30em) {
    .responsive-table th,
    .responsive-table td {
/*        padding: 0.75em 0.5em;*/
    }
}
@media (min-width: 48em) {
    .responsive-table th,
    .responsive-table td {
        display: table-cell;
        padding: 0.5em;
        width: 25%;
    }
    .responsive-table td {
        padding: 0.25em 1.5em!important;
    }
    .responsive-table tr th {
        width: 20%;
    }
    .responsive-table tr td {
        width: 15%;
    }
    .responsive-table tr td:last-of-type {
        width: 50%;
    }
}
@media (min-width: 62em) {
    .responsive-table th,
    .responsive-table td {
        padding: 0.75em 0.5em;
    }
}
@media (min-width: 75em) {
    .responsive-table th,
    .responsive-table td {
        padding: 0.75em;
    }
}

.responsive-table caption {
    margin-bottom: 1em;
    font-family: 'EB Garamond';
    font-size: 1.4em;
/*    font-weight: bold;*/
    text-align: center;
}
@media (min-width: 48em) {
    .responsive-table caption {
        font-size: 1.6em;
    }
}

.responsive-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid rgba(255,255,255,0.3);
}
.responsive-table tbody tr:last-of-type {
    margin-bottom: 0;
}
/* Undo display: block */
@media (min-width: 48em) {
    .responsive-table tbody {
        display: table-row-group;
    }
    .responsive-table tbody tr {
        display: table-row;
        border-width: 1px;
    }
    .responsive-table tbody tr:nth-of-type(even) {
        background-color: rgba(255,255,255,0.1);
    }
}

.responsive-table th[scope="row"] {
    background-color: rgba(255,255,255,0.3);
    color: white;
}
@media (min-width: 48em) {
    .responsive-table th[scope="row"] {
        background-color: transparent;
        color: white;
        text-align: left;
        border: 1px solid rgba(255,255,255,0.1);
    }
}

.responsive-table td {
    text-align: right;
}
@media (min-width: 48em) {
    .responsive-table td {
        text-align: center;
    }
}

.responsive-table td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: .8em;
    color: rgba(255,255,255,0.8);
    margin-left: -5em;
}
@media (min-width: 30em) {
    .responsive-table td[data-title]:before {
        font-size: 0.9em;
    }
}
@media (min-width: 48em) {
    .responsive-table td[data-title]:before {
        content: none; /* Don't show data-title labels */
    }
}
